body {
	background : #008080;
  font-family: 'DM Mono', monospace;;
  color: whitesmoke;
}

h1 {
  text-align: center;
}

#contain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  display: inline-block;
  height: 400px;
	width: 400px;
	margin: 15px;
	border-radius: 8px;
}

@media screen and (max-width: 700px) {
	.container {
		width : 100%;
		position: relative;
		transform: translate(0%, 0%);
		top: 0;
		left: 0;
	}
	.cover {
		display: block;
		height: 400px;
		width: 400px;
		margin: 15px auto;
	}
}

.atvImg {
	border-radius: 8px;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg img {
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
	box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
	overflow: hidden;
	border-radius: 8px;
}

.atvImg-shadow {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.2s ease-out;
	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 8px;
	background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}

#buttonContainer {
  justify-self: center;
}

button {
  border: none;
}

#buttonOne {
margin-left: 4.1rem;
/* display: none; */
font-family: 'DM Mono', monospace;
color: white;
width: 300px;
height: 50px;
margin-top: 2rem;
margin-bottom: 2rem;
background: #2D6BE2;
border-radius: 20px;
animation: hueRotation 7s linear infinite;
transition: 500ms;
}

#buttonOne:hover {
    border: 1px white dotted;
    cursor: pointer;
}

@keyframes hueRotation {
	to {filter: hue-rotate(360deg);}
}

#infinity {
  color: yellow;
}

/** Just to polish the product */
.Loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: ease .1s;
	z-index: 99;
}

.Loader.hidden {
	animation: fadeOutt 3s;
	animation-fill-mode: forwards;
	overflow-y: visible;
}

@keyframes fadeOutt {
	100% {
		visibility: hidden;
		opacity: 0;
	}
}

/** The loader itself */
.spinnerPairHolder {
	display: grid;
	position: absolute;
	width: 400px;
	height: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.spinnerPairHolder .spinnerPair {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.spinnerPairHolder .spinnerPair .spinnerPairCercle {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 50%;
	border-radius: 999px;
	transform: translateX(-50%);

	animation: loaderBallsSpin 2s infinite ease-in-out;
}

/** Ball 1 */
.spinnerPairHolder .spinnerPair .spinnerPairCercle:nth-child(1) {
	background-image: linear-gradient(to top right, #a11562 15%, #fa2b51);
}

.spinnerPairHolder .spinnerPair:nth-child(1) .spinnerPairCercle:nth-child(1) {
	animation-delay: 0s;
}
.spinnerPairHolder .spinnerPair:nth-child(2) .spinnerPairCercle:nth-child(1) {
	animation-delay: 0.3s;
}
.spinnerPairHolder .spinnerPair:nth-child(3) .spinnerPairCercle:nth-child(1) {
	animation-delay: 0.6s;
}
.spinnerPairHolder .spinnerPair:nth-child(4) .spinnerPairCercle:nth-child(1) {
	animation-delay: 0.9s;
}
.spinnerPairHolder .spinnerPair:nth-child(5) .spinnerPairCercle:nth-child(1) {
	animation-delay: 1.2s;
}

/** Ball 2 */
.spinnerPairHolder .spinnerPair .spinnerPairCercle:nth-child(2) {
	background-image: linear-gradient(to top right, #0d5a7e 15%, #0ccee7);
}

.spinnerPairHolder .spinnerPair:nth-child(1) .spinnerPairCercle:nth-child(2) {
	animation-delay: 1s;
}
.spinnerPairHolder .spinnerPair:nth-child(2) .spinnerPairCercle:nth-child(2) {
	animation-delay: 1.3s;
}
.spinnerPairHolder .spinnerPair:nth-child(3) .spinnerPairCercle:nth-child(2) {
	animation-delay: 1.6s;
}
.spinnerPairHolder .spinnerPair:nth-child(4) .spinnerPairCercle:nth-child(2) {
	animation-delay: 1.9s;
}
.spinnerPairHolder .spinnerPair:nth-child(5) .spinnerPairCercle:nth-child(2) {
	animation-delay: 2.2s;
}

@keyframes loaderBallsSpin {
	0% {
		top: 0%;
		z-index: 2;
	}

	25% {
		transform: translateX(-50%) scale(1.2, 1.2);
	}

	50% {
		top: calc(100% - 25px);
	}

	75% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}

	100% {
		top: 0%;
		z-index: 1;
	}
}
