@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400);

html,
body {
  height: 100%;
}

body {
  background: black;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0 0 30px;
  text-align: center;
}


h1 {
  text-align: center;
  color: white;
}

#contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  display: inline-block;
  height: 600px;
	width: 600px;
	margin: 15px;
	border-radius: 8px;
}

@media screen and (max-width: 700px) {
  #contain {
    margin-right: 2rem;
    margin-top: 2rem;
  }
	.container {
		width : 100%;
		position: relative;
		transform: translate(0%, 0%);
		top: 0;
		left: 0;
	}
	.cover {
		display: block;
		height: 300px;
		width: 300px;
		margin: 15px auto;
	}
}

.atvImg {
	border-radius: 8px;
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg img {
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
	box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
	overflow: hidden;
	border-radius: 8px;
}

.atvImg-shadow {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.2s ease-out;
	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 8px;
	background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}

#buttonContainer {
  justify-self: center;
}

button {
  border: none;
}

#buttonOne {
margin-left: 4.1rem;
/* display: none; */
font-family: 'DM Mono', monospace;
color: white;
width: 300px;
height: 50px;
margin-top: 2rem;
margin-bottom: 2rem;
background: #2D6BE2;
border-radius: 20px;
animation: hueRotation 5s linear infinite;
transition: 500ms;
}

#buttonOne:hover {
    border: 1px white dotted;
    cursor: pointer;
}

@keyframes hueRotation {
	to {filter: hue-rotate(360deg);}
}

#infinity {
  color: yellow;
}

.word {
  bottom: 0;
  color: #fff;
  font-size: 2.5em;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  margin: auto;
  right: 0;
  position: absolute;
  text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
  top: 0;
  bottom: 30%;
}

.word span {
  display: inline-block;
  transform: translateX(100%) scale(0.9);
  transition: transform 100ms;
}

.word .done {
  color: #6f6;
  transform: translateX(0) scale(1);
}

.overlay {
  background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 50%);
  background-size: 1000px 2px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.glitch {
  cursor: pointer;
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
  font-size: 27px;
  position: relative;
  color: #27ee48;
  margin-top: 50px;
  background-color: transparent;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  letter-spacing: 1px;
  padding: 15px 20px;
  Transition: background-color 0.1s ease-out;
  transform: translateZ(0);
  outline: 90px solid transparent !important;
  -webkit-filter: url("#filter");
  filter: url("#filter");
}
.glitch:hover {
  color: white;
}
